.selected {
    color: aqua;
    font-family: Calibri;
    font-weight: bolder;
    font-size: x-large;
}

.unselected {
    color: darkgreen;
    font-family: Calibri;
    font-weight: bold;
    font-size: medium;
}