.notes-display {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.notes-display > a > p {
    color: black;
}

.notes-display > a > h3 {
    font-size: small;
    text-align: left;
}