.App {
  text-align: center;
}

.App > nav {
  display: inline-flex;
  width: 200px;
  position: relative;
}

.App > nav {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 10%;
}

.App > main {
  position: absolute;
  right: 0;
}

.app-content {
  position: fixed;
  left: 200px;
  display: inline-flex;
  max-width: calc(100% - 200px);
  flex-wrap: wrap;
  justify-content: center;
}

.iNote {
  justify-content: center;
  max-width: calc(100% - 200px);
}

body {
  background-color: #D9C9FF;
}

a {
  color: #BAA3FF;
  font-weight: bolder;
}

a:visited {
  color: #554B73;
}